:root {
    --primary-color: #fd571b;
    --secondary-color: #118a01;
    --title-color: #423d42;
    --desc-color: #6f6c6c;
    --body-color: #ffffff;
    --border-color: #e7eaf3;
    --white-color: #ffffff;
    --bg-color: #f6f6f6;
    /* Font Family */
    --h1-font-size: 54px;
    --h2-font-size: 42px;
    --h3-font-size: 36px;
    --h4-font-size: 28px;
    --h5-font-size: 22px;
    --h6-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    /* Font Weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  }
  
  .dark_mode {
    --primary-color: #fd571a;
    --secondary-color: #00a387;
    --title-color: #ffffff;
    --desc-color: #ffffffc6;
    --body-color: #1c1c1c;
    --border-color: #6f6c6c;
    --white-color: #ffffff;
    --bg-color: #282828;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    background: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--desc-color);
    overflow-y: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: var(--body-font);
    color: var(--title-color);
    font-weight: var(--font-bold);
  }
  
  h1 {
    font-size: var(--h1-font-size);
  }
  
  h2 {
    font-size: var(--h2-font-size);
  }
  
  h3 {
    font-size: var(--h3-font-size);
  }
  
  h4 {
    font-size: var(--h4-font-size);
  }
  
  h5 {
    font-size: var(--h5-font-size);
  }
  
  h6 {
    font-size: var(--h6-font-size);
  }
  
  p {
    font-size: var(--normal-font-size);
    color: var(--desc-color);
    margin: 0;
    line-height: 1.6;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none !important;
    color: var(--desc-color);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  textarea,
  input {
    padding: 12px 16px;
    color: var(--title-color);
    border-radius: 8px;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color) !important;
    background: var(--bg-color);
    height: calc(1.5em + 1.875rem);
    font-weight: var(--font-medium);
  }
  
  textarea::placeholder,
  input::placeholder,
  .text_area::placeholder,
  .form-control::placeholder {
    color: var(--desc-color);
    font-size: var(--small-font-size);
  }
  
  textarea:focus,
  input:focus {
    border: 0.8px solid var(--primary-color) !important;
    outline: none !important;
    box-shadow: none !important;
  }
  
  label {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 16px;
  }
  
  button {
    border: none;
    background: none;
  }
  
  section {
    padding: 4.5rem 0;
  }
  
  #loom-companion-mv3 {
    display: none;
  }
  
  /* ================ Common Css =============== */
  .icons {
    font-size: 24px;
  }
  
  .btn {
    padding: 10px 26px;
    background: var(--primary-color);
    border-radius: 8px;
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
  }
  
  .btn_sec {
    padding: 10px 26px;
    background: var(--secondary-color);
    border-radius: 8px;
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
  }
  
  .btn:hover {
    background: #d94b17;
    transition: all 0.5s ease-in-out;
    color: var(--white-color);
  }
  
  .btn_sec:hover {
    background: #00a387;
    transition: all 0.5s ease-in-out;
    color: var(--white-color);
  }
  
  /* =============== LogIn Page CSS ================= */
  
  .logIn_page {
    width: 100%;
    height: 100%;
  }
  
  .logIn_page .login_nav {
    width: 100%;
    padding: 16px 30px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  
  .logIn_page .login_nav img {
    height: 40px;
  }
  
  .logIn_page .container {
    width: 100%;
    height: 100%;
  }
  
  .logIn_page .tab-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
  }
  
  .tab-buttons button {
    padding: 10px 26px;
    border-radius: 8px;
    color: var(--desc-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    border: 1px solid var(--border-color);
  }
  
  .tab-buttons button.active {
    background: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
  }
  
  .logIn_page .login_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .logIn_page .login_img img {
    width: auto;
    height: 250px;
  }
  
  .logIn_page .login_form {
    max-width: 450px;
    margin: auto;
  }
  
  .logIn_page .login_form .input_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .logIn_page .form_area{
    display: none;
  }
  
  .logIn_page .form_area.active_tab{
    display: block;
  }
  
  .logIn_page .form_area .btn {
    display: block;
    width: 100%;
  }
  
  .logIn_page .form_area h5 {
    color: var(--desc-color);
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .logIn_page .form_area .forget_area .remember_me {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .password-input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .password-input-container .password-toggle-icon {
    position: absolute;
    right: 20px;
    color: var(--description-color);
  }
  
  /* Add your styling here */
  .otp-container {
    display: flex;
    gap: 16px;
  }
  .otp-container input {
    width: 100%;
    text-align: center;
    font-size: var(--h4-font-size);
    font-weight: var(--font-bold);
  }
  